@font-face {
  font-family: 'Gerbera';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Gerbera Light.otf") format("opentype");
}
@font-face {
  font-family: 'Gerbera';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Gerbera.otf") format("opentype");
}
@font-face {
  font-family: 'Gerbera';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Gerbera Medium.otf") format("opentype");
}
@font-face {
  font-family: 'Gerbera';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Gerbera Bold.otf") format("opentype");
}
@font-face {
  font-family: 'Gerbera';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Gerbera Black.otf") format("opentype");
}