.header-section {
	background-color: $bg1-color;
	background-image: url(../images/background.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 300px 45%;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		right: 0%;
		bottom: 0;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 673.3 1079.9'%3E%3Cpolygon fill='%234F68FF' points='296,0 0,1079.9 673.3,1079.9 673.3,0 '/%3E%3Cpath fill='%236B7FFF' d='M551.2,179.4c0,17.2-14,31.2-31.2,31.2c-17.2,0-31.2-14-31.2-31.2c0-17.2,14-31.2,31.2-31.2 C537.2,148.2,551.2,162.1,551.2,179.4z M673.3,151.1c-10.6,5-18,15.8-18,28.3c0,12.5,7.4,23.3,18,28.3V151.1z M603.2,148.2 c-17.2,0-31.2,14-31.2,31.2c0,17.2,14,31.2,31.2,31.2s31.2-14,31.2-31.2C634.4,162.1,620.5,148.2,603.2,148.2z'/%3E%3C/svg%3E");
		background-size: auto 100%;
		background-position: right center;
		background-repeat: no-repeat;
		@media (max-width: 990px) {
			background-position: 145% center;
		}
		@media (max-width: 768px) {
			background-image: none;
		}
	}
}

.header {
	position: absolute;
	top: 25px;
	width: 100%;
	.header-container {
		align-items: center;
		@media (max-width: 1600px) {
			justify-content: space-between;
			.header-menu {
				margin: 0;
			}
		}
		@media (max-width: 990px) {
			.header-menu-wrapper {
				position: absolute;
				top: 80px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 5;
			}
		}
	}
}
.logo {
	font-size: 48px;
	line-height: 58px;
	font-weight: 700;
}
.header-logo {
	color: $logo-color;
}
.header-menu,
.header-submenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.header-menu {
	display: flex;
	position: relative;
	margin-left: 186px;
	margin-right: 128px;
	font-size: 24px;
	font-weight: 300;
	&__item {
		height: 38px;
		margin-right: 40px;
		&:last-child {
			margin-right: 0;
		}
		position: relative;
		text-decoration: none;
		color: #656565;
		cursor: pointer;
		&:after {
			content: '';
			position: absolute;
			left: 50%;
    		transform: translateX(-50%);
			bottom: -8px;
			width: 0;
			height: 4px;
			background-color: #08cbd7;
			transition: width .7s;
		}
		a, span {
			display: block;
			line-height: 38px;
			text-decoration: none;
			color: inherit;
			white-space: nowrap;
		}
		&:hover {
			&:after {
				width: 100%;
			}
			.header-submenu {
				display: block;
			}
		}
	}
}
.header-submenu {
	display: none;
	position: absolute;
	top: calc(100% + 13px);
	padding: 20px 24px;
	border-radius: 5px;
	background-color: rgb(27, 27, 27);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.09);
	z-index: 3;
	&:before {
		content: '';
		position: absolute;
		top: -13px;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}
	&__item {
		font-size: 18px;
		font-weight: 300;
		text-decoration: none;
		color: #5f5f5f;
		transition: color .3s;
		&:hover {
			color: #fff;
		}
		a {
			color: inherit;
			line-height: 36px;
		}
	}
}
.header-user-menu {
	display: flex;
	&__item {
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
		padding-left: 65px;
		padding-right: 65px;
		@media (max-width: 1200px) {			
			padding-left: 40px;
			padding-right: 40px;
		}
		border: 3px solid #ababab;
		border-radius: 19px;
		font-size: 18px;
		font-weight: 700;
		line-height: 38px;
		background-color: #ededed;
		color: #1b1b1b;
		text-decoration: none;
		white-space: nowrap;
	}
}
.banner {
	position: relative;
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&__title {
		margin-top: 0;
		margin-bottom: 50px;
		font-size: 130px;
		font-weight: 800;
		color: #0d0d0d;
		@media (max-width: 990px) {
			margin: 60px auto 0;
		}
		@media (max-width: 768px) {
			font-size: 96px;
		}
		@media (max-width: 576px) {
			font-size: 76px;
		}
	}
	&__other {
		@media (max-width: 1600px) {
			padding-left: 7%;
		}
		@media (max-width: 990px) {
			padding: 0;
			.banner-signup {
				display: flex;
				justify-content: center
			}
		}
	}
	&__text {
		position: relative;
		margin-top: 0;
		margin-bottom: 90px;
		font-size: 30px;
		line-height: 36px;
		color: #5f5e5e;
		@media (max-width: 1600px) {
			padding-left: 7%;
		}
		@media (max-width: 990px) {
			padding: 0;
			text-align: center;
		}
		@media (max-width: 576px) {
			margin-bottom: 60px;
			font-size: 28px;
		}
		&:before {
			content: '';
			position: absolute;
			top: 3px;
			left: -1080px;
			@media (max-width: 1600px) {
				left: calc(-1080px + 7%);
			}
			height: 3px;
			width: 1000px;
			background-color: #ccc;
			@media (max-width: 1200px) {
				display: none;
			}
		}
	}
	&-signup {
		position: relative;
		z-index: 2;
		display: flex;
		margin-left: -30px;
		@media (max-width: 990px) {
			margin-left: 0;
		}
		@media (max-width: 576px) {
			flex-direction: column;
			align-items: center;
		}
		margin-bottom: 72px;
		&__item {
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
			padding-left: 84px;
			padding-right: 84px;
			font-size: 20px;
			line-height: 62px;
			border: 3px solid #ababab;
			border-radius: 31px;
			white-space: nowrap;
			&:focus {
				outline: none;
			}
			@media (max-width: 576px) {
				&:first-child {
					margin-bottom: 20px;
				}
			}
		}
		&__item--email {
			width: 268px;
			padding-left: 30px;
			padding-right: 0;
			background-color: transparent;
		}
		&__item--submit {
			font-size: 24px;
			font-weight: 800;
			background-color: #08cbd7;
			border: none;
			cursor: pointer;
			transition: background-color .5s;
			&:hover {
				background-color: #fff;
			}
		}
	}
	&__description {
		position: relative;
		width: 400px;
		z-index: 2;
		margin-top: 0;
		font-size: 18px;
		@media (max-width: 990px) {
			width: 100%;
			text-align: center;
		}
	}
	&-img {
		display: block;
		position: absolute;
		top: calc(50% + 80px);
		right: 10%;
		transform: translateY(-50%);
		@media (max-width: 1600px) {
			right: 5%;
			width: 700px;
			height: auto;
		}
		@media (max-width: 1200px) {
			width: 600px;
			height: auto;
		}
		@media (max-width: 990px) {
			display: none;
		}
	}
	@media (max-width: 990px) {
		top: 50px;
	}
}